extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Submit PATCH request with your new password and confirm password to:
  p=url
  p (Website under construction, need to define route, url is for api)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Password
  p If you didn't forget your password, please ignore this email