.footer
  .footer-content
    .footer-section.about
      h1.logo-text Info
      p
        | Pretrazivac knjiga sa 4 dominatna sajta za prodaju knjiga u Srbiji. Prepoznavanje istih knjiga i uvid u cene.
        br
        br
        | Tehnologije: Node.js, Express.js, Mongoose, Pug  
      .contact
        span
          i.fas.fa-phone
          |  &nbsp; +381 64 509 0908
        span
          i.fas.fa-envelope
          |  &nbsp; mihajlo.nikolic.991@gmail.com
      .socials
        a(href='https://github.com/Caligula91/Knjigoteka' target="_blank" rel="noopener noreferrer")
          i.fab.fa-github
        a(href='https://www.instagram.com/caligula91'  target="_blank" rel="noopener noreferrer")
          i.fab.fa-instagram
    .footer-section.links
      h2 Links
      br
      ul
        a(href='/')
          li Home
        a(href='/about-project')
          li About project
        a(href='/about-api')
          li API
    .footer-section.contact-form
      h2 Contact me
      br
      form.contact-form
        input.text-input.contact-input(type='email' name='email' placeholder='Your email address...' required)
        textarea.text-input.contact-input(rows='4' name='message' placeholder='Your message...' required)
        button.btn.btn-big.contact-btn(type='submit')
          i.fas.fa-envelope
          |             Send
  .footer-bottom
    | &copy; books-finder.herokuapp.com | by Caligula