.footer
  .footer-content
    .footer-section.about
      h1.logo-text Info
      p
        | Sajt sam napravio sam ciljem da obogatim cv jednim projektom i samim tim povecam verovatnocu pronalazenja posla. Ukoliko imate neka pitanja ili sugestije, slobodno posaljite.
      .contact
        span
          i.fas.fa-phone
          |  &nbsp; +381645090908
        span
          i.fas.fa-envelope
          |  &nbsp; nanica71@gmail.com
      .socials
        a(href='#')
          i.fab.fa-facebook
        a(href='#')
          i.fab.fa-instagram
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-youtube
    .footer-section.links
      h2 Links
      br
      ul
        a(href='#')
          li Home
        a(href='#')
          li About me
        a(href='#')
          li About project
        a(href='#')
          li Terms and Conditions
    .footer-section.contact-form
      h2 Contact me
      br
      form.contact-form
        input.text-input.contact-input(type='email' name='email' placeholder='Your email address...' required)
        textarea.text-input.contact-input(rows='4' name='message' placeholder='Your message...' required)
        button.btn.btn-big.contact-btn(type='submit')
          i.fas.fa-envelope
          |             Send
  .footer-bottom
    | &copy; books-finder.herokuapp.com | by Caligula