header
  a(href='/')
    img.logo(src='/img/logo/main-logo.png' alt='logo')
  .search
    form.search-form
      input.search-input(type='text' placeholder='Search' name='search' value=`${(search)?search:''}` required)
      button.search-input-btn(type='submit')
        i.fa.fa-search
  i.fa.fa-bars.menu-toggle
  ul.nav
    if (user)
      li
        a(href='#') ABOUT
      li
        a.logout(href='/logout') LOG OUT
      li
        a.fa.fa-user(href='/user')   #{user.name.split(' ')[0]}
    else
      li
        a(href='#') ABOUT
      li
        a(href='/login') LOG IN
      li
        a(href='/signup') SIGN UP
    //- IF USER LOGGED IN
    //- li
    //-   a(href='#')
    //-     i.fa.fa-user
    //-     |           Mihajlo
    //-     i.fa.fa-chevron-down(style='font-size: .8em;')
    //-   ul
    //-     li
    //-       a(href='#') DASHBOARD
    //-     li
    //-       a.logout(href='#') LOGOUT