extends base

block content
    .page-wrapper(style="text-align: center; padding: 100px 20px")
        h1 API Documentation published via Postman
        br
        a(href="https://documenter.getpostman.com/view/12799337/TzCS45sn" target="_blank" rel="noopener noreferrer" style="font-size: 26px; color: blue") click to navigate