extends base

block content
    .user-page-wrapper
        include _userSettings
        .about-me-table-container
            h2.page-title About Me
            br
            table.about-me
                tr
                    td Name
                    td #{user.name.split(' ')[0]}
                tr
                    td Email: 
                    td #{user.email}
                tr
                    td Role: 
                    td #{user.role}
                tr
                    td Since:
                    td #{user.accountCreated.toISOString().slice(0,10)}