extends base

block content
    .page-wrapper(style="text-align: center; padding: 100px 20px")
        h1 Mihajlo Nikolic
        p(style="padding-top: 50px; font-size: 1.2rem") Mlad i... mlad i... mlad i obrazovan... nadasve mlad i... dobro, idemo dalje, mlad i obrazovan...