extends base

block content
    .auth-content
        label.auth-errors
        form.password-forgot-form
            h2.form-title #{title || 'Forgot Password'}
            br
            div
                label Email
                input.text-input(type='email' name='email' required)
                label Make sure to enter correct email
            div
                button.btn.btn-big.send-btn Send
            p
                | Or 
                a(href='/signup') Sign Up