extends base

block content
    .auth-content
        label.auth-errors
        form.password-reset-form(data-token=`${token}`)
            h2.form-title #{title || 'Reset Password'}
            div
                label New Password
                input.text-input(type='password' name='password' required)
            div
                label Password Confirmation
                input.text-input(type='password' name='passwordConfirm' required)
            div
                button.btn.btn-big.reset-password-btn Reset Password