extends base

block content
    .user-page-wrapper
        include _userSettings
        .auth-content
            label.auth-errors
            form.update-form
                h2.form-title #{title || 'Update Name'}
                br
                br
                br
                div
                    label Name: #{user.name}
                br
                div
                    label New Name
                    input.text-input(type='text' name='name' required)
                div
                    button.btn.btn-big.update-btn Change Name