extends base
  
block content
    .user-page-wrapper
        include _userSettings
        .auth-content
            label.auth-errors
            form.update-password-form
                h2.form-title #{title || 'Update Password'}
                br
                br
                div
                    label Old Password
                    input.text-input(type='password', name='currentPassword' required)
                div
                    label New Password
                    input.text-input(type='password', name='password' required)
                div
                    label Password Confirmation
                    input.text-input(type='password', name='passwordConfirm' required)
                div
                    button.btn.btn-big.update-btn Sign Up